.toutpage{
    margin-left:100px;
    margin-right:100px;
}
.sectionfirst{
    padding-top:50px;
    display: flex;
    height: 700px;
}
h1{
    font-size:50px !important;
    padding-bottom: 80px;
}
p{
    font-size:20px;
}
.divisionfirst{
    justify-content: end;
    flex-basis: 0;
    flex-grow: 1;
}
.sousvisionfirst{
    justify-content: start;
    flex-basis: 0;
    flex-grow: 1;
}
.sectionSecondo{
    padding-top:50px;
    display: flex;
    height: 700px;
}
.divisionsecondo{
    justify-content: start;
    flex-basis: 0;
    flex-grow: 1;
}
.sousvisionsecondo{
    justify-content: end;
    flex-basis: 0;
    flex-grow: 1;
}
ul{
    font-size:20px
}
.sectionThird{
    padding-top:50px;
    display: flex;
    height: 600px;
}
.divisionthird{
    justify-content: start;
    flex-basis: 0;
    flex-grow: 1;
}
.sousvisionthird{
    justify-content: end;
    flex-basis: 0;
    flex-grow: 1;
}
.btnplus{
    color: white;
    background-color: rgb(150, 2, 150);
}