.toutpage{
    margin-left:100px;
    margin-right:100px;
}
.sectionfirst{
    padding-top:50px;
    display: flex;
    height: 600px;
}
h1{
    font-size:50px !important;
}
p{
    font-size:20px;
}
.divisionfirst{
    justify-content: end;
    flex-basis: 0;
    flex-grow: 1;
}
.sousvisionfirst{
    justify-content: start;
    flex-basis: 0;
    flex-grow: 1;
}
.sectionSecondo{
    padding-top:50px;
    display: flex;
    height: 600px;
}
.divisionsecondo{
    justify-content: start;
    flex-basis: 0;
    flex-grow: 1;
}
.sousvisionsecondo{
    justify-content: end;
    flex-basis: 0;
    flex-grow: 1;
}
ul{
    font-size:20px
}
.sectionThird{

}
